<br>
<center>
<u><h1 align='center'><b> <%= image_tag 'logo2.jpg', :alt =>'logo2'%></h1></u>

<input type='button' onclick=" location.href='reservations/new' " name='boton4' value='Agregar Reserva' style='width:150; height:50' <% if user_signed_in? %> <% if current_user.type_id == 1 or current_user.type_id == 2%>
<%else%>
 disabled="true"
<%end%>
<%else%>
 disabled="true"
<%end%>
>
</input>
</center>

<br>
<center>
<input type='button' onclick=" location.href='reservations' " name='boton4' value='Mostrar y Eliminar Reservas' style='width:150; height:50' <% if user_signed_in? %> <% if current_user.type_id == 1 or current_user.type_id == 2%>
<%else%>
 disabled="true"
<%end%>
<%else%>
 disabled="true"
<%end%>
>
</input>
</center>
<br>

<br>
<center>
<input type='button' onclick=" location.href='principal' " name='boton3' value='Volver' style='width:150; height:50'>
</input>
</center>