<u><h1 align='center'><b> <%= image_tag 'logo2.jpg', :alt =>'logo2'%></h1></u>

<%= render 'form', producttype: @producttype %>

<center>
<table bgcolor="white" >
<tr>
<td>
<%= link_to 'Mostrar', @producttype %> |
</td>
<td>
<%= link_to 'Volver', producttypes_path %>
</td>
</tr>
</table>
</center>
