<u><h1 align='center'><b> <%= image_tag 'logo2.jpg', :alt =>'logo2'%></h1></u>	

<%= render 'form', customer: @customer %>
<center>
<%= link_to 'Mostrar', @customer %> |
<%= link_to 'Volver', customers_path %>
</center>
