<u><h1>Mantención De Productos</h1></u>
<center>
<u><h1 align='center'><b> <%= image_tag 'logo2.jpg', :alt =>'logo2'%></h1></u>
<input type='button' onclick=" location.href='products/new' " name='boton4' value='Agregar Producto' style='width:150; height:50'>
</input>
</center>
<br>
<center>
<input type='button' onclick=" location.href='products' " name='boton4' value='Mostrar Productos' style='width:150; height:50'>
</input>
</center>
<br>
<center>
<input type='button' onclick=" location.href='modificar.php' " name='boton2' value='Eliminar Productos' style='width:150; height:50' disabled="true">
</input>
</center>
<br>
<center>
<input type='button' onclick=" location.href='principal' " name='boton3' value='Volver' style='width:150; height:50'>
</input>
</center>