<u><h1>Categorias</h1></u>
<center>
<u><h1 align='center'><b> <%= image_tag 'logo2.jpg', :alt =>'logo2'%></h1></u>
<input type='button' onclick=" location.href='categories/new' " name='boton4' value='Agregar Categoria' style='width:150; height:50'>
</input>
</center>
<br>
<center>
<input type='button' onclick=" location.href='categories' " name='boton4' value='Mostrar Categorias' style='width:150; height:50'>
</input>
</center>
<br>
<center>
<input type='button' onclick=" location.href='modificar.php' " name='boton2' value='Eliminar Categorias' style='width:150; height:50' disabled="true">
</input>
</center>
<br>
<center>
<input type='button' onclick=" location.href='principal' " name='boton3' value='Volver' style='width:150; height:50'>
</input>
</center>