html,body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	/*background-image: image-url("fondo.jpeg");*/
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0cm -1cm;
    background-attachment: fixed;
    filter: alpha(opacity=50);
}
a,a:visited{
	color: inherit !important;
	text-decoration: none;
}
#logo{
	font-size: 1.2em;
}
.cerrar{
	color: red;
	margin: 20px;
}
.h2{
	color: white;
}
.no-margin{
	margin: 0px;
}
.btn{
	font-size:1.2em;
}
.be-red{
	background-color: #E74C3C;
}
.be-blue{
	background-color: #2E9AFE;
}

.white{
	color: #ECF0F1;
}
.large-padding{
	padding: 8px 5px;
}
.field{
	margin-top:1em;
}
.form-control{
	border: none;
	border-botton: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}