<h1><u>Lista Categorias</u></h1>
<br>
<table border=1>
<tr>
<td bgcolor="white">Id_Categorias</td>
<td bgcolor="white">Nombre</td>
<td bgcolor="white">Padre</td>
<td bgcolor="white">Eliminar</td>
</tr>
<% @categories.each do|category| %>
<tr>
	<td bgcolor="white"><%=category.id%></td>
	<td bgcolor="white"><%=category.Nombre%></td>
	<td bgcolor="white"><%=category.Padre%></td>
	<td bgcolor="white" align="center"><%=link_to "X" , category,method: :delete %></td>
</tr>

	<%end%>
</table>

<left>
<input type='button' onclick=" location.href='/categorias' " name='boton3' value='Volver' style='width:150; height:50'>
</input>
</left>