<h1>Consultas</h1>
<form action='eleccion' method='post'>
	<select name="combo1" id="combo1">
		<option value=0>Elige</option>
		<option value=1>Ventas durante el mes</option>
		<option value=2>Ganancias Durante el mes</option>
		<option value=3>Ganancias Durante el año</option>  
		<option value=4>Top 5 juegos mas vendidos</option>
		<option value=5>Top 5 juegos menos vendidos</option>   
		<option value=6>Listado de ofertas</option>   
		<option value=7>Productos con stock menor a 10</option>   
		<option value=8>Top 10 productos mas vendidos</option>
		<option value=9>Productos nunca vendidos</option>  		
		<option value=10>Consola mas vendida</option>   
	</select>
	<input type='submit' value='Mostrar'/>
</form>

<h1><input type='button' onclick=" location.href='principal.php' " name='volver' value='Volver'></h1>
